/*.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName{
    opacity: .6;
}

.tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.tw-followCard-button{
    cursor: pointer;
    margin-left: 16px;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease background-color;
}


.tw-followCard-button.is-following{
    border: 1px solid red
}


.tw-followCard-button:hover{
    background-color: #09f;
}

.tw-followCard-button.is-following:hover{
    background: red;
}


*/

/* footer.css */

.footer-link {
    color: #cfd8dc; /* Gris claro para contraste */
    text-decoration: none; /* Remover el subrayado de los links */
    transition: color 0.3s ease; /* Transición suave para el hover */
  }
  
  .footer-link:hover {
    color: #ffccbc; /* Color más claro al hacer hover */
  }
  
  .social-icon {
    color: #cfd8dc; /* Color de los iconos sociales */
    font-size: 24px; /* Tamaño de los iconos sociales */
    transition: color 0.3s ease; /* Transición suave para el hover */
  }
  
  .social-icon:hover {
    color: #ffccbc; /* Color al hacer hover sobre los iconos sociales */
  }
  
  .footer-text {
    color: #eceff1; /* Color de los textos regulares */
  }
  
  .footer-heading {
    color: #b0bec5; /* Color de los títulos */
    margin-bottom: 10px; /* Espacio debajo de los títulos */
  }
  
  /* Estilos generales del contenedor del footer */
  .footer-container {
    background-color: #263238; /* Fondo oscuro */
    padding: 40px 0; /* Padding vertical */
  }
  