@tailwind base;
@tailwind components;
@tailwind utilities;

/*
.text-3d {
  position: absolute;
  top: 30vw;
  color: #B5FB02; 
  font-size:5vw; 
  text-shadow:
    0 1px 0 hsl(100, 13%, 91%),
    0 2px 0 #0e0e0e,
    0 3px 0 #101010,
    0 4px 0 #0c0c0c,
    0 5px 0 #121212,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
  text-align: center;
  transform: rotate(-45deg);
}

.man {
  position: absolute;
  left: -10vw;
  height: 60vw;
  width: 50vw;
  top: -3vw;
  background-color: #0C130E;
}

.background {
  position: absolute;
  right: -20vw;
}*/





.side-home{
  height: 100vh;
  width : 55vh;

}

@media (max-width: 600px) {

  .side-home{

    height: 100vh;
  }

}

.image{

position: relative;  
  
}

.image{

  height: 150px;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: -4vh;
  left: 49vh;

  
}


#chatSimulation{
  display: flex;
  border: 1px solid black; 
  padding: 10px; 
  width: 300px; 
  height: 200px; 
  overflow-y: scroll;
}

.message {
  display: flex;
  padding: 5px;
  margin: 4px 0;
  border-radius: 5px;
  max-width: 80%;
}

.user {
  background-color: #007bff;
  color: white;
  margin-left: auto;
  border-top-right-radius: 0;
  align-self: flex-end; /* Alinea los mensajes del usuario a la derecha */
}

.bot {
  background-color: #e5e5ea;
  color: black;
  margin-right: auto;
  border-top-left-radius: 0;
  align-self: flex-start; /* Alinea los mensajes del bot a la izquierda */
}

.container {
  width: 300px;
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column; /* Los mensajes se muestran de arriba a abajo */
  padding: 10px; /* Añade padding aquí en lugar de en línea si es posible */
}


.container {
  width: 300px;
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
}